<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label "Seller" %>
    <%= form.select :seller_id, Seller.all.each.map { |s| [s.name, s.id ] }, selected: product&.seller&.id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <%= link_to_add_nested(form, :inventories, '#inventory-items') %>

  <div id='inventory-items'>
    <%= form.fields_for :inventories do |inventory_f| %>
      <%= render 'inventory_fields', form: inventory_f %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
