<p id="notice"><%= notice %></p>
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>
<p>
  <strong>Seller:</strong>
  <%= @product.seller.name %>
</p>
<p>
  <strong>Product Name:</strong>
  <%= @product.name %>
</p>
<p><strong><u>Types / inventory </u></strong></p>
<div>
  <% @product.inventories.each do |inv| %>
    <%= render "inventory", inv: inv %>
  <% end %>
</div>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
